In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import urllib
import requests
import re
from tabulate import tabulate

In [2]:
DOMAIN_ROOT = 'http://www.basketball-reference.com'
response = requests.get('https://www.basketball-reference.com/leagues/NBA_2018_games.html')
page = response.text

In [3]:
soup = BeautifulSoup(page)

/Users/markdavis/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/markdavis/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [4]:
dictionary = dict()
for month in soup.select('#content > div[class=filter] > div > a'):
    month_txt = str(DOMAIN_ROOT + month['href'])
    month_response = requests.get(month_txt)
    month_page = month_response.text
    month_soup = BeautifulSoup(month_page)
    for box in month_soup.select('#schedule > tbody > tr > td[data-stat=box_score_text] > a'):
        box_txt = str(DOMAIN_ROOT + box['href'])
        box_response = requests.get(box_txt)
        box_page = box_response.text
        box_soup = BeautifulSoup(box_page)
        temp_dict = dict()
        for key in box_soup.find_all(class_="box > h1"):
            print(key)
        for tables in box_soup.find_all(class_="sortable"):
#               print(tables)
            for row in tables.select_one("tbody").find_all("tr", class_=lambda x: x != 'thread'):
#                   print('rows')
                for starter in row.select('th'):
#                       print('starter')
                    array = []
                    name = starter.text
                    for td in row.select("td"):
                        array.append(td.text)
                        temp_dict.update({name: array})
#           dictionary.update({})
#       print(dictionary)
# dictionary

In [5]:
response1 = requests.get('https://www.basketball-reference.com/teams/GSW/2019.html')
page1 = response1.text

In [6]:
DOMAIN_ROOT = 'http://www.basketball-reference.com'
response1 = requests.get('https://www.basketball-reference.com/teams/GSW/2019.html')
page1 = response1.text
soup1 = BeautifulSoup(page1)

/Users/markdavis/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/markdavis/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [8]:
# company = soup1.select(class_='box > h1.listing-name')[0].text.strip()
# print(company)

In [9]:
dictionary = {}
for tables in soup1.find_all(class_="sortable"):
    for row in tables.select_one("tbody").find_all("tr", class_=lambda x: x != 'thread'):
        for starter in row.select('th'):
            array = []
            name = starter.text
            for td in row.select("td"):
                array.append(td.text)
                dictionary.update({name: array})
dictionary

{'0': ['DeMarcus Cousins',
  'C',
  '6-11',
  '270',
  'August 13, 1990',
  'us',
  '8',
  'University of Kentucky'],
 '1': ['Damion Lee',
  'SG',
  '6-6',
  '210',
  'October 21, 1992',
  'us',
  '1',
  'Drexel University, University of Louisville'],
 '10': ['Jacob Evans',
  'SG',
  '6-6',
  '210',
  'June 18, 1997',
  'us',
  'R',
  'University of Cincinnati'],
 '11': ['Klay Thompson',
  'SG',
  '6-7',
  '215',
  'February 8, 1990',
  'us',
  '7',
  'Washington State University'],
 '12': ['Andrew Bogut',
  'C',
  '7-0',
  '260',
  'November 28, 1984',
  'au',
  '13',
  'University of Utah'],
 '15': ['Damian Jones',
  'C',
  '7-0',
  '245',
  'June 30, 1995',
  'us',
  '2',
  'Vanderbilt University'],
 '2': ['Jordan Bell',
  'C',
  '6-9',
  '224',
  'January 7, 1995',
  'us',
  '1',
  'University of Oregon'],
 '21': ['Jonas Jerebko', 'PF', '6-10', '231', 'March 2, 1987', 'se', '8', ''],
 '23': ['Draymond Green',
  'PF',
  '6-7',
  '230',
  'March 4, 1990',
  'us',
  '6',
  'Michigan State University'],
 '28': ['Alfonzo McKinnie',
  'SF',
  '6-8',
  '215',
  'September 17, 1992',
  'us',
  '1',
  'University of Wisconsin-Green Bay'],
 '30': ['Stephen Curry',
  'PG',
  '6-3',
  '190',
  'March 14, 1988',
  'us',
  '9',
  'Davidson College'],
 '32': ['Marcus Derrickson',
  'PF',
  '6-7',
  '249',
  'February 1, 1996',
  'us',
  'R',
  'Georgetown University'],
 '34': ['Shaun Livingston',
  'PG',
  '6-7',
  '192',
  'September 11, 1985',
  'us',
  '13',
  ''],
 '35': ['Kevin Durant',
  'SF',
  '6-9',
  '240',
  'September 29, 1988',
  'us',
  '11',
  'University of Texas at Austin'],
 '4': ['Quinn Cook',
  'PG',
  '6-2',
  '179',
  'March 23, 1993',
  'us',
  '2',
  'Duke University'],
 '5': ['Kevon Looney',
  'C',
  '6-9',
  '220',
  'February 6, 1996',
  'us',
  '3',
  'University of California, Los Angeles'],
 '9': ['Andre Iguodala',
  'SF',
  '6-6',
  '215',
  'January 28, 1984',
  'us',
  '14',
  'University of Arizona']}

In [49]:
res = requests.get("https://www.basketball-reference.com/teams/GSW/2019.html")
soup = BeautifulSoup(res.content)
# table = soup.find('table', {'class': 'table_wrapper table_controls'})
# test = soup.find('caption', text = 'Tennessee Tech').find_parent('table', {'class': 'sidearm-table collapse-on-medium accordion'})
table = soup.find_all('table')#, {'title': 'table_outer_container mobile_table'})
df = pd.read_html(str(table))
# print(tabulate(df[0], headers='keys', tablefmt='psql') )
print(df[0].to_json)#(orient='records'))
# print(list(df))

/Users/markdavis/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/markdavis/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

ValueError: No tables found

In [12]:
data = pd.DataFrame(df[0])
# data = data.transpose()

In [13]:
data

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,2,Jordan Bell,C,6-9,224,"January 7, 1995",us,1,University of Oregon
1,12,Andrew Bogut,C,7-0,260,"November 28, 1984",au,13,University of Utah
2,4,Quinn Cook,PG,6-2,179,"March 23, 1993",us,2,Duke University
3,0,DeMarcus Cousins,C,6-11,270,"August 13, 1990",us,8,University of Kentucky
4,30,Stephen Curry,PG,6-3,190,"March 14, 1988",us,9,Davidson College
5,32,Marcus Derrickson,PF,6-7,249,"February 1, 1996",us,R,Georgetown University
6,35,Kevin Durant,SF,6-9,240,"September 29, 1988",us,11,University of Texas at Austin
7,10,Jacob Evans,SG,6-6,210,"June 18, 1997",us,R,University of Cincinnati
8,23,Draymond Green,PF,6-7,230,"March 4, 1990",us,6,Michigan State University
9,9,Andre Iguodala,SF,6-6,215,"January 28, 1984",us,14,University of Arizona
10,21,Jonas Jerebko,PF,6-10,231,"March 2, 1987",se,8,NaN
11,15,Damian Jones,C,7-0,245,"June 30, 1995",us,2,Vanderbilt University
12,1,Damion Lee,SG,6-6,210,"October 21, 1992",us,1,"Drexel University, University of Louisville"
13,34,Shaun Livingston,PG,6-7,192,"September 11, 1985",us,13,NaN
14,5,Kevon Looney,C,6-9,220,"February 6, 1996",us,3,"University of California, Los Angeles"
15,28,Alfonzo McKinnie,SF,6-8,215,"September 17, 1992",us,1,University of Wisconsin-Green Bay
16,11,Klay Thompson,SG,6-7,215,"February 8, 1990",us,7,Washington State University

In [ ]:
type(data)

In [ ]:
data.columns = ['Rk', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

In [ ]:
from pandas import DataFrame
df = DataFrame.from_records(df)

In [ ]:
type(df)

In [ ]:
df